

/*
 * Domine
================================================================================ */
@font-face {
    font-family: 'domine-bold';
    src: url('../fonts/domine/domine-bold-webfont.woff2') format('woff2'),
         url('../fonts/domine/domine-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'domine-regular';
    src: url('../fonts/domine/domine-regular-webfont.woff2') format('woff2'),
         url('../fonts/domine/domine-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
