/* Основной цвет фона и градиентов */
body {
    background: url('/images/back_purple.jpg') no-repeat center center fixed;
    background-size: cover;
}

@media only screen and (max-width:600px) {
	.bg {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: url('/images/back_purpe_mob.jpg');
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }
}


.button1 {
    background-color: inherit
}

.button1:hover {
    background-color: #a72424;
}

.button2 {
  background-color: #5E17EB;
}

.main-svg {
    box-shadow: 0 0 20px #5E17EB;
}
.main-svg svg {
    box-shadow: 0 0 7px #5E17EB;
    filter: drop-shadow(0px 0px 7px #5E17EB);
}

#intro h3 {
  background-color: #5E17EB;
  padding: 1rem;

}

#intro p {  
    font-size: 12px;
    line-height: 1.8;
    margin: 0;
    border-top: 1px solid;
    padding-top: 1rem;
}

@media only screen and (max-width: 400px) {
    #intro h3 {
        letter-spacing: 0.2rem;
    }

    #intro p {
        font-size: 8px;
    }
}

.section-intro .with-bottom-line{
  background-color: #5E17EB;

}

.swiper-slide{
    box-shadow: 0 0 20px #5E17EB;
}

.swiper-slide:hover{
    box-shadow: 0 0 30px #5E17EB;
}

.swiper-button-next::after, .swiper-button-prev::after {
    color: #5E17EB;
}

.swiper-pagination-bullet-active {
    background-color: #5E17EB!important;
}

.bg-red{
  background-color: #5E17EB;

}

.pricing-content .price-block {
    box-shadow: 0 0 30px #5E17EB;
}

#go-top a:hover {
    background-color: #5E17EB;
}

.fa5:hover{
    color: #5E17EB;
}

.card{    
    box-shadow: 0 0 30px #5E17EB;
}

.pricing-content .primary {
    background-color: #5E17EB;
    opacity: 80%;
}

.p-black {
    box-shadow: 0 0 30px #5E17EB;

}
#swiper .a-slider{
    color: white ;
}